

<div *ngIf="!fullMode; else full">
  <h1>Рецепты</h1>
  <p *ngIf="!recipes"><em>Loading...</em></p>
  <div *ngIf="recipes">
    <input type="button" value="Добавить" class="btn btn-default" (click)="add()" />
    <table *ngIf="tableMode; else create" class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Calories (C)</th>
          <th>Protein(F)</th>
          <th>Fat</th>
          <th>Carbohydrates</th>
          <th>   </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recipeItem of recipes.data">
          <td>
            <span (click)="fullRecipe(recipeItem)"
                  aria-label="recipeItem.dishName">
              {{recipeItem.dishName}}
            </span>
          </td>
          <td>{{recipeItem.calories}}</td>
          <td>{{recipeItem.protein}}</td>
          <td>{{recipeItem.fat}}</td>
          <td>{{recipeItem.carbohydrates}}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="deleteDish(recipeItem)">Удалить</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="products?.data.length == 0">
  <span>THERE ARE NO RESULTS THAT MATCH YOUR SEARCH</span>
</div>

<ng-template #full>
  <h1>{{recipe.dishName}}</h1>
  <b>{{recipe.calories}} ккал, белки:{{recipe.protein}}, жиры: {{recipe.protein}}, углеводы: {{recipe.carbohydrates}}</b>
  <div class="form-group">
    <h2>Ингредиенты</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Продукт</th>
          <th>Калории</th>
          <th>Белки</th>
          <th>Жиры</th>
          <th>Углеводы</th>
          <th>Вес (грамм)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingredientItem of recipe.pfccIngredients">
          <td>
            {{ingredientItem.productName}}
          </td>
          <td>{{ingredientItem.calories}}</td>
          <td>{{ingredientItem.protein}}</td>
          <td>{{ingredientItem.fat}}</td>
          <td>{{ingredientItem.carbohydrates}}</td>
          <td>{{ingredientItem.count}}</td>
        </tr>
      </tbody>
    </table>
    <h2>Рецепт</h2>
    <p>{{recipe.recipe}}</p>
    <div>
      <input type="button" value="Назад" (click)="cancel()" class="btn btn-warning" />
    </div>
  </div>
</ng-template>


<ng-template #create>
  <div *ngIf="ingredients">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Продукт</th>
          <th>Вес (грамм)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingredientItem of dish.ingredients">
          <td>
            {{ingredientItem.productName}}
          </td>
          <td>{{ingredientItem.count}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-10">
    <h1>Добавление рецепта</h1>
    <h3>Название рецепта</h3>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="dish.dishName" />
    </div>
    <h3>Добавление ингредиентов</h3>
    <div class="form-group">
      <label>Продукты</label>
      <select class="form-control" name="product" [(ngModel)]="ingredient.productId">
        <option *ngFor="let productItem of productArr" [value]="productItem.productId">
          {{productItem.productName}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label>грамм</label>
      <input type="number" class="form-control" name="count" [(ngModel)]="ingredient.count" />
    </div>
    <div class="form-group">
      <input type="button" value="Добавить ингредиент" (click)="addIngredient()" class="btn btn-success" />
      <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </div>
    <div class="form-group">
      <textarea [(ngModel)]="dish.recipe"></textarea>
    </div>
    <div class="form-group">
      <label>Вес на выходе</label>
      <input type="number" class="form-control" name="count" [(ngModel)]="dish.totalWeight" />
    </div>
    <div class="form-group">
      <input type="button" value="Добавить рецепт" (click)="save()" class="btn btn-success" />
      <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </div>
  </div>
</ng-template>



